@font-face {
  font-family: "icons";
  src: url("../fonts/icons42fb.eot?fx6epg234");
  src: url("../fonts/icons42fb.eot?fx6epg234#iefix") format("embedded-opentype"),
    url("../fonts/icons42fb.ttf?fx6epg234") format("truetype"),
    url("../fonts/icons42fb.woff?fx6epg234") format("woff"),
    url("../fonts/icons42fb.svg?fx6epg234#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e900";
}
.icon-buble:before {
  content: "\e901";
}
.icon-caret-down-panel:before {
  content: "\e902";
}
.icon-caret-down:before {
  content: "\e903";
}
.icon-caret-left-panel:before {
  content: "\e904";
}
.icon-caret-left:before {
  content: "\e905";
}
.icon-caret-right-panel:before {
  content: "\e906";
}
.icon-caret-right:before {
  content: "\e907";
}
.icon-caret-up-panel:before {
  content: "\e908";
}
.icon-caret-up:before {
  content: "\e909";
}
.icon-cart:before {
  content: "\e90a";
}
.icon-certificate:before {
  content: "\e90b";
}
.icon-check:before {
  content: "\e90c";
}
.icon-click:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e90e";
}
.icon-crown:before {
  content: "\e90f";
}
.icon-dhl:before {
  content: "\e910";
}
.icon-ebook:before {
  content: "\e912";
}
.icon-exit:before {
  content: "\e913";
}
.icon-fb:before {
  content: "\e914";
}
.icon-gift-xl:before {
  content: "\e915";
}
.icon-gift:before {
  content: "\e916";
}
.icon-heart:before {
  content: "\e917";
}
.icon-instagram:before {
  content: "\e918";
}
.icon-like:before {
  content: "\e919";
}
.icon-dislike:before {
  content: "\e911";
}
.icon-m:before {
  content: "\e91a";
}
.icon-mail:before {
  content: "\e91b";
}
.icon-medal:before {
  content: "\e91c";
}
.icon-menu:before {
  content: "\e91d";
}
.icon-moscow:before {
  content: "\e91e";
}
.icon-person:before {
  content: "\e91f";
}
.icon-user:before {
  content: "\e925";
}
.icon-people:before {
  content: "\e92b";
}
.icon-print:before {
  content: "\e920";
}
.icon-search:before {
  content: "\e921";
}
.icon-skype:before {
  content: "\e922";
  color: #00aaf1;
}
.icon-star:before {
  content: "\e923";
}
.icon-tw:before {
  content: "\e924";
}
.icon-vk:before {
  content: "\e926";
}
.icon-web-camera:before {
  content: "\e927";
}
.icon-word:before {
  content: "\e928";
  color: #2b5997;
}
.icon-youtube:before {
  content: "\e929";
}
.icon-events:before {
  content: "\e92a";
}
.icon-fragment:before {
  content: "\e92c";
}
.icon-filepdf:before {
  content: "\e92d";
}
.icon-music:before {
  content: "\e92e";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-old-phone:before {
  content: "\e92f";
}
.icon-clock111:before {
  content: "\e930";
}
.icon-saytodir:before {
  content: "\e931";
}
.icon-moimir:before {
  content: "\e932";
}
.icon-odnoklassniki:before {
  content: "\e933";
}
.icon-vsettings:before {
  content: "\e934";
}
.icon-hsettings:before {
  content: "\e935";
}
.icon-actions1:before {
  content: "\e936";
}
.icon-tdmosrecom:before {
  content: "\e937";
}
.icon-giftbook1:before {
  content: "\e938";
}
.icon-rouble:before {
  content: "\e939";
}
.icon-zen:before {
  content: "\e93a";
  color: #fff;
}
